<div class="sidebar-container">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/dashboard/mis-compras" routerLinkActive="active"
          >Mis Compras</a
        >
      </li>
      <li>
        <a routerLink="/dashboard/perfil" routerLinkActive="active"
          >Mi Perfil</a
        >
      </li>
    </ul>
  </nav>
</div>
