<div class="sidebar-container">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/dashboard/mis-eventos"
          routerLinkActive="active"
          ><fa-icon [icon]="faTicket"></fa-icon><span>Mis Próximos eventos</span></a
        >
      </li>
      <li>
        <a routerLink="/dashboard/mis-compras" routerLinkActive="active"
          ><fa-icon [icon]="faClockRotateLeft"></fa-icon><span>Mis Eventos Pasados</span></a
        >
      </li>
      <li>
        <a routerLink="/dashboard/perfil" routerLinkActive="active"
          ><fa-icon [icon]="faUser"></fa-icon><span>Mi Perfil</span></a
        >
      </li>
      <li>
        <a routerLink="/dashboard/ayuda" routerLinkActive="active"
          ><fa-icon [icon]="faCircleQuestion"></fa-icon><span>Ayuda</span></a
        >
      </li>
      <li>
        <a routerLinkActive="active"
          ><fa-icon [icon]="faArrowLeft"></fa-icon><span>Cerrar sesión</span></a
        >
      </li>
    </ul>
  </nav>
</div>
