<nav class="bg-white shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-20">

      <div class="flex-shrink-0">
        
        <!-- <img class="h-12 w-auto" src="https://img.freepik.com/vector-gratis/icono-vectorial-dibujos-animados-ilustracion-naturaleza-icono-vacaciones-aislado-plano_138676-13304.jpg?semt=ais_hybrid&w=740&q=80" alt="Logo Balam Tickets"> -->
        <img class="h-12 w-auto" src="assets/logo.jpg" alt="Logo Balam Tickets">
      </div>
      <div class="flex items-center">
        <div class="hidden md:block">
          <div class="ml-4 flex items-baseline space-x-4">
            <a href="#" class="text-gray-600 hover:text-black px-3 py-2 rounded-md text-base font-medium">Puntos de ventas</a>
            <a href="#" class="text-gray-600 hover:text-black px-3 py-2 rounded-md text-base font-medium">Eventos</a>
            <a href="#" class="text-gray-600 hover:text-black px-3 py-2 rounded-md text-base font-medium">Nosotros</a>
            <a href="#" class="text-gray-600 hover:text-black px-3 py-2 rounded-md text-base font-medium">Iniciar sesión</a>
            <a href="#" style="background-color: #E6A74C;" class="text-white px-4 py-2 rounded-md text-base font-bold hover:opacity-90 transition-opacity">
              Registrarme
            </a>
          </div>
        </div>
      </div>

      <!-- Lado Derecho: Imagen/Logo -->

    </div>
  </div>
</nav>
