.event-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  max-height: 40vh;
  overflow-y: auto;
  border: 1px solid #eee;
  border-radius: 8px;
}

.event-item {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s;
}

.event-item:last-child {
  border-bottom: none;
}

.event-item:hover {
  background-color: #f9f9f9;
}

.event-item input[type="checkbox"] {
  margin-right: 15px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.event-item label {
  cursor: pointer;
  flex-grow: 1;
}

.modal-actions {
  margin-top: 20px;
  text-align: right;
}

.modal-action-btn {
  background-color: #E44521; /* Un color primario fuerte */
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: block; /* Para que ocupe el ancho disponible */
  width: 100%;
  margin-top: 10px;
}

.modal-action-btn:hover {
  background-color: #b13115; /* Un tono más oscuro para el hover */
  transform: translateY(-2px);
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}