<div class="ayuda-container">
  <h2 class="ayuda-titulo"><strong>¿Necesitas ayuda?</strong></h2>
  <p class="ayuda-parrafo">
    ¡Gracias por visitar nuestra página web!. Si necesitas información adicional acerca de nuestros servicios o tienes alguna pregunta acerca de la compra de tus tickets, no dudes en ponerte en contacto con nosotros a través de nuestro formulario en línea o mediante nuestras redes sociales. En BalamTicket, estamos aquí para ayudarte y asegurarnos de que tengas la mejor experiencia posible al adquirir tus tickets para tus eventos favoritos. ¡Esperamos saber de ti pronto!
  </p>
  <button class="ayuda-btn">Pedir Ayuda</button>
  <div class="contacto-info">
    <p class="email">soporte@balamticket.com</p>
    <p class="telefono">+52 961 123 4567</p>
  </div>
</div>
