<div class="flex items-center justify-center min-h-[90vh] px-4 py-8">
  <div
    class="w-full max-w-4xl p-8 space-y-8 bg-white/10 backdrop-blur-lg rounded-2xl border border-white/20 shadow-2xl">
    <!-- Header -->
    <div class="text-center">
      <h2 class="text-3xl font-bold mb-2">Crear Cuenta</h2>
      <p class="text-gray-300">
        Únete a nosotros para acceder a los mejores eventos
      </p>
    </div>

    <!-- Form -->
    <form [formGroup]="formulario" (ngSubmit)="registro()" class="space-y-6">

      <!-- Información Personal -->
      <div class="border-b pb-6">
        <h3 class="text-xl font-semibold mb-4">Información Personal</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="md:col-span-2">
            <label class="block mb-2 text-sm font-medium text-gray-500">
              Nombre completo
            </label>
            <input type="text" formControlName="name" class="bg-white/5 border rounded-lg w-full p-3 transition-colors"
              [ngClass]="{
    'border-red-500 ring-2 ring-red-500/40':
      formulario.get('name')?.invalid &&
      formulario.get('name')?.touched
  }" />
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-500">
              Fecha de nacimiento
            </label>
            <input type="date" formControlName="birth_date"
              class="bg-white/5 border rounded-lg w-full p-3 transition-colors" [ngClass]="{
    'border-red-500 ring-2 ring-red-500/40':
      formulario.get('birth_date')?.invalid &&
      formulario.get('birth_date')?.touched
  }" />
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-500">
              Teléfono
            </label>
            <input type="tel" formControlName="phone" class="bg-white/5 border rounded-lg w-full p-3 transition-colors"
              [ngClass]="{
    'border-red-500 ring-2 ring-red-500/40':
      formulario.get('phone')?.invalid &&
      formulario.get('phone')?.touched
  }" />
          </div>

          <div class="md:col-span-2">
            <label class="block mb-2 text-sm font-medium text-gray-500">
              Correo electrónico
            </label>
            <input type="email" formControlName="email"
              class="bg-white/5 border rounded-lg w-full p-3 transition-colors" [ngClass]="{
    'border-red-500 ring-2 ring-red-500/40':
      formulario.get('email')?.invalid &&
      formulario.get('email')?.touched
  }" />
          </div>
        </div>
      </div>

      <!-- Dirección -->
      <div class="border-b pb-6">
        <h3 class="text-xl font-semibold mb-4">Dirección</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <input class="bg-white/5 border rounded-lg w-full p-3 transition-colors" [ngClass]="{
    'border-red-500 ring-2 ring-red-500/40':
      formulario.get('country')?.invalid &&
      formulario.get('country')?.touched
  }" formControlName="country" placeholder="País" />
          <input class="bg-white/5 border rounded-lg w-full p-3 transition-colors" [ngClass]="{
    'border-red-500 ring-2 ring-red-500/40':
      formulario.get('state')?.invalid &&
      formulario.get('state')?.touched
  }" formControlName="state" placeholder="Estado" />
          <input class="bg-white/5 border rounded-lg w-full p-3 transition-colors" [ngClass]="{
    'border-red-500 ring-2 ring-red-500/40':
      formulario.get('city')?.invalid &&
      formulario.get('city')?.touched
  }" formControlName="city" placeholder="Ciudad" />
          <input class="bg-white/5 border rounded-lg w-full p-3 transition-colors" [ngClass]="{
    'border-red-500 ring-2 ring-red-500/40':
      formulario.get('zip')?.invalid &&
      formulario.get('zip')?.touched
  }" formControlName="zip" placeholder="CP" />

          <div class="md:col-span-2 grid grid-cols-3 gap-6">
            <input class="col-span-2 bg-white/5 border rounded-lg p-3" formControlName="street" placeholder="Calle" />
            <input class="bg-white/5 border rounded-lg w-full p-3 transition-colors" [ngClass]="{
    'border-red-500 ring-2 ring-red-500/40':
      formulario.get('number')?.invalid &&
      formulario.get('number')?.touched
  }" formControlName="number" placeholder="Número" />
          </div>
        </div>
      </div>

      <!-- Seguridad -->
      <div>
        <h3 class="text-xl font-semibold mb-4">Seguridad</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <input type="password" formControlName="password" placeholder="Contraseña"
            class="bg-white/5 border rounded-lg w-full p-3 transition-colors" [ngClass]="{
    'border-red-500 ring-2 ring-red-500/40':
      formulario.get('password')?.invalid &&
      formulario.get('password')?.touched
  }" />

          <input type="password" formControlName="password_confirmation" placeholder="Confirmar contraseña"
            class="bg-white/5 border rounded-lg w-full p-3 transition-colors" [ngClass]="{
    'border-red-500 ring-2 ring-red-500/40':
      formulario.get('password_confirmation')?.invalid &&
      formulario.get('password_confirmation')?.touched
  }" />
        </div>

        <p *ngIf="formulario.errors?.['passwordMismatch'] && formulario.touched" class="text-red-400 text-sm mt-2">
          Las contraseñas no coinciden
        </p>
      </div>

      <!-- Botón -->
      <button type="submit" class="w-full bg-[#F27F1B] hover:bg-[#d87118] text-white rounded-lg py-3 transition">
        Registrarse
      </button>

      <!-- Login -->
      <div class="text-center text-sm text-gray-300">
        ¿Ya tienes una cuenta?
        <a routerLink="/login" class="text-orange-300 hover:underline">
          Inicia sesión aquí
        </a>
      </div>
    </form>
  </div>
</div>