<div class="carousel-container">
  @for (slide of slides; track slide.titulo; let i = $index) {
    <div 
      class="carousel-slide" 
      [class.active]="i === currentIndex"
      [style.backgroundImage]="'url(' + slide.imagen + ')'">
      
      <!-- Capa para el degradado -->
      <div class="banner-overlay"></div>
  
      <!-- Contenedor para toda la información -->
      <div class="banner-content-wrapper">
        <div class="banner-info">
          <h1>{{ slide.titulo }}</h1>
          <p>{{ slide.fecha }}</p>
          <p>{{ slide.lugar }}</p>
        </div>
        <div class="banner-buttons">
          <div class="icon-buttons">
            <button class="icon-btn"><fa-icon [icon]="faShareAlt" /></button>
            <button class="icon-btn"><fa-icon [icon]="faHeart" /></button>
          </div>
          <button class="buy-tickets-btn" [routerLink]="['/seleccionBoletos', slide.url_event]">
            Comprar Boletos
          </button>
        </div>
      </div>
    </div>
  }

  <!-- Controles de Navegación -->
  <button class="carousel-control prev" (click)="prevSlide()">&#10094;</button>
  <button class="carousel-control next" (click)="nextSlide()">&#10095;</button>

  <!-- Indicadores (puntos) -->
  <div class="carousel-indicators">
    @for (slide of slides; track slide.titulo; let i = $index) {
      <span class="indicator-dot" [class.active]="i === currentIndex" (click)="goToSlide(i)"></span>
    }
  </div>
</div>

<!-- Sección de filtro de próximos eventos -->
<div class="events-filter-section">
  <h2>Próximos Eventos</h2>
  <div class="filter-buttons">
    <button class="filter-btn">Música</button>
    <button class="filter-btn">Deportes</button>
    <button class="filter-btn">Teatro</button>
    <button class="filter-btn">Convenciones</button>
  </div>
</div>
