<div class="seleccion-container">
  <button class="regresar-btn" routerLink="/">Regresar</button>
  <div class="columnas-wrapper">
    <!-- Columna Izquierda -->
    <div class="columna-izquierda">
      <app-info-evento [evento]="evento"></app-info-evento>
    </div>

    <!-- Columna Derecha -->
    <div class="columna-derecha">
      <h2><strong>Seleccionar boletos</strong></h2>

      <!-- Usamos @for para iterar sobre los boletos definidos en el componente -->
      @for (boleto of evento?.zone_prices; track $index) {
      <div class="card-boletos">
        <div class="card-content">
          <div class="info-precio">
            <h3>{{ boleto.section }}</h3>
            <!-- <p>{{ boleto.subtitulo }}</p> -->
            <span class="precio">{{
              boleto.price | currency : 'MXN' : 'symbol-narrow' : '1.2-2'
            }}</span>
            <span class="cargos">+ cargos</span>
          </div>
          <div class="contador">
            <button
              class="contador-btn"
              (click)="decrementar(boleto)"
              [disabled]="boleto.current_stock === 0"
            >
              -
            </button>
            <span class="cantidad">{{ boleto.current_stock }}</span>
            <button
              class="contador-btn"
              (click)="incrementar(boleto)"
              [disabled]="boleto.current_stock === 10"
            >
              +
            </button>
          </div>
        </div>
        <!-- Sección de descripción del boleto -->
        <div class="card-descripcion">
          <p>{{ boleto.description }}</p>

          <!-- Mostramos la lista de beneficios solo si existen -->
          @if (boleto && boleto.types && boleto.types.length > 0) {
          <p>Tu boleto incluye:</p>
          <ul>
            @for (beneficio of boleto.types; track $index) {
            <li>
              <strong>{{ beneficio }}:</strong>
            </li>
            }
          </ul>
          }
        </div>
      </div>
      }

      <!-- Botón de pago y sección de información adicional -->
      <div class="pago-info-container">
        <button
          class="pagar-btn"
          [disabled]="totalBoletosSeleccionados === 0"
          [routerLink]="['/pagoBoleto', evento?.url_event]"
        >
          Pagar boletos
        </button>

        <div class="info-adicional">
          <p>{{ evento?.long_description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Términos y Condiciones -->
<app-terminos-compra-modal [isVisible]="isTerminosModalVisible" (closeModal)="closeTerminosModal()">
</app-terminos-compra-modal>
