/* Estilos base del modal, similares al del footer */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  max-height: 85vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #555;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-header h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.5rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.modal-body {
  margin-top: 20px;
  font-size: 0.95rem;
  line-height: 1.6;
  color: #444;
}

.modal-body h4 {
  margin-top: 25px;
  margin-bottom: 10px;
  color: #222;
}

.modal-body ul, .modal-body ol {
  padding-left: 25px;
}

.modal-body li {
  margin-bottom: 10px;
}
.rojo{
  color: red!important;
}
.modal-action-btn {
  background-color: #E44521; /* Un color primario fuerte */
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: block; /* Para que ocupe el ancho disponible */
  width: 100%;
  margin-top: 10px;
}

.modal-action-btn:hover {
  background-color: #b13115; /* Un tono más oscuro para el hover */
  transform: translateY(-2px);
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}