<div class="mis-compras-container">
  <h2 class="titulo-seccion">Mis Compras</h2>

  <div
    class="compra-card"
    *ngFor="let compra of eventUpcomming"
  >
    <div class="card-imagen">
      <img
        [src]="compra.event?.image_event_online"
        alt="Imagen del evento"
      />
    </div>

    <div class="card-info">
      <p class="numero-orden">
        <strong>Orden: #{{ compra.id }}</strong>
      </p>

      <p class="fecha-evento">
        {{ compra.event?.event_date }}
        {{ compra.event?.event_time }}
      </p>

      <p class="lugar-evento">
        {{ compra.event?.enclosure?.name }}
      </p>
    </div>

    <div class="card-accion">
      <button
        class="descargar-btn"
        (click)="openInfo(compra.id, compra)"
      >
        Descargar Boletos
      </button>
    </div>
  </div>
</div>


<!-- VERIFICATION MODAL -->
<div class="modal-backdrop-custom" *ngIf="showVerificationModal"></div>

<div class="modal-wrapper" *ngIf="showVerificationModal">
  <app-verification-code
    [email]="user.email"
    [google]="true"
    [dataLogin]="dataLogin"
    (verified)="onVerified()"
    (closed)="showVerificationModal = false"
  />
</div>

<!-- INFO EVENTO MODAL -->
<app-info-evento
  *ngIf="showInfoModal()"
  [data]="infoEventoData()"
  (closed)="closeInfoModal()"
/>