.dashboard-layout {
  display: flex;
}

app-sidebar {
  width: 250px;
  flex-shrink: 0;
}

.dashboard-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  padding: 40px;
  background-color: #f9fafb;
}
