<div class="seleccion-container">
  <button class="regresar-btn" routerLink="/">Regresar al inicio</button>
  <div class="columnas-wrapper">
    <!-- Columna Izquierda -->
    <div class="columna-izquierda">
      <app-info-evento></app-info-evento>
    </div>

    <!-- Columna Derecha -->
    <div class="columna-derecha">
      <h2 *ngIf="data.urlOxxo==''">Compra exitosa: <span class="numero-compra">{{data.ordenId}}</span></h2>
      <p *ngIf="data.urlOxxo==''" class="mensaje-exito">¡Tu compra ha sido realizada con éxito! Hemos enviado el recibo
        y los detalles de tu compra al correo electrónico <strong>{{data.email_titular}}</strong>. Podrás descargar tus
        entradas para ingresar al recinto el mismo día del evento en tu perfil.</p>
      <h1 class="numero-compra" *ngIf="data.urlOxxo!=''">
        Orden de compra: {{data.ordenId}}</h1>
      <h4 class="mensaje-exito" *ngIf="data.urlOxxo!=''">
        Tu orden ha sido generada, tu lugares estarán bloqueados hasta {{horas}} . Haz click en Obtener el link de pago
        para generar tu código y acude al OXXO más cercano para realizar el pago.</h4>
      <!-- Resumen de la Compra -->
      <div class="resumen-container">
        <div class="resumen-titulo">
          <h3>Resumen de la compra</h3>
        </div>
        <div class="resumen-cuerpo">
          <ul>
            @for(boleto of data.tickets; track $index) {
            <li>
              <span>{{ boleto.cantidad }}x {{ boleto.name }}</span>
              <span>{{ boleto.subtotal | currency:'MXN' }}</span>
            </li>
            }
          </ul>
          <ul class="resumen-totales">
            <li><span>Subtotal</span> <span>{{ data.subtotal | currency:'MXN' }}</span></li>
            <li><span>Comisión</span> <span>{{ data.comision | currency:'MXN' }}</span></li>
            <li><span>Cargo Bancario</span> <span>{{ data.cargoBancario | currency:'MXN' }}</span></li>
            <li class="total-general"><span>Total</span> <span>{{ totalGeneral | currency:'MXN' }}</span></li>
          </ul>
        </div>
      </div>
      <div class="mis-compras-btn" *ngIf="data.urlOxxo!=''">
        <button class="btn btn-comprar text-white" (click)="redirectToPayment()">Obtener link de pago</button>
      </div>
      <button (click)="goPerfil()" class="mis-compras-btn">Mis Compras</button>
    </div>
  </div>
</div>